html, body {
  height: 100%; width; 100%;
  margin: 0;
  padding; 0;
  background-image: url('../Media/faqfond.jpg');

}
/* Va nous permettre d'avoir des flex et de les gérer de façon à ce que ça ressemble à une page de FAQ */
#conteneur{
	display: flex;
	flex-direction: column;
	

}

/* -----------------------------------------------------------------------------
  |element 1 Correspond à la disposition du titre "FAQ" et du bouton recherche  |
   -----------------------------------------------------------------------------
*/

/* C'est pour mettre la fonction recherche en ligne et un peu sur la droite*/
.element1 form{					
	display: inline-flex;
	font-size: 22px;
	position: relative;
	left: 100px;
}
/* On veut que le titre de la page soit centrer */
.element1 h1{
	text-align: center;
}
/* -----------------------------------------------------------------------------
  |element 2 Correspond à la disposition des questions / réponses               |
   -----------------------------------------------------------------------------
*/

.element2{
	font-size: 22px;
	display: block;
	margin-top: 20px;
}
.element2 h6{
	font-weight: normal;
	font-size: 22px;
}
/* 1ère question */
.span1:focus~.text1{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text1{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text1{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* Ici on va répeter le processus pour les autres questions */
/* 2ème question */
.span1:focus~.text2{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text2{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text2{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* 3ème question */
.span1:focus~.text3{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text3{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text3{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* 4ème question */
.span1:focus~.text4{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text4{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text4{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* 5ème question */
.span1:focus~.text5{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text5{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text5{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* 6ème question */
.span1:focus~.text6{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text6{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text6{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}
/* 5ème question */
.span1:focus~.text7{	/* Afficher le text quand on appuie sur la question*/ 
	display: block;
}
.span2:focus~.text7{	/* Fermer le text quand on appuie sur fermer*/
	display: none;
}
.text7{
	display: none;		/* Faire en sorte que le text ne s'affiche pas par défaut */
	background-color: #D3D3D3;
}