/*
  ========================================
  Layout du header
  ========================================
*/


header {
  background: black;
  width: 100%;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  position:sticky;
  margin-bottom: 3px;

}

#logo
{
  margin-left: 10px;
  margin-top: 10px;
  width: 80px;
}

/*
  ========================================
  Layout du menu 
  ========================================
*/

.menu1,.menu2
{
  display: flex;
}

li{
  z-index: 1;
}

nav {
   width: 100%;
	border-radius: 3px;
	border: none;	
}

.menuoptions{
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: auto;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: black;
  min-width: 130px;
  background: #eaeaed;
}	

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 3px 3px 3px;
  background: black;
  text-align: center;
}

.menubtn{
  font-size: medium;;
  border: none;
  background: transparent;
  color: white;
  padding: 5px;
  height: 100%;
  cursor: pointer;
  	position: relative;
	text-align: center;
}

.menuinput {
	width: 100%;
	font-size: medium;;
	border: none;
	background: transparent;
	color: white;
	padding: 5px;
}

.dropdown {
  display: inline-block;
  position: relative;
}


#menu1:hover #menu-content1 {
  display: block;
}

#menu2:hover #menu-content2 {
  display: block;
}

#menu4:hover #menu-content4 {
  display: block;
}

#menu-content4{
	right:0;
}


.menubtn a, .dropdown-content a {
  color: white;	
  text-decoration: none;
}

#menu1:hover,#menu2:hover,#menu3:hover, #menu4:hover {
	background-color:white;
	color: black;
}


#menu1:hover .menubtn,#menu2:hover .menubtn,#menu3:hover  .menubtn a, #menu4:hover .menubtn {
	background-color:white;
	color: black;
}


.menubtn a:hover, .dropdown-content a:hover {
  color: black;	
  background-color: white;
}

/* barre de recherche */

input[type=search]
{
	padding: 0px;
	padding-left: 15px;
	margin: 0px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 10%;
	border: none;
	height: 100%;
	width: 100%;
	background-color: white;
}

#search-bar {
	height: 19px;
}

#search-button {
	
content: "\f002"

}
