

/*
  ========================================
  Layout du site
  ========================================
*/
section, header, footer {
	margin-bottom: 3px;
	border: 2px solid #949599;
}

header{
	text-align: center;
}

/*Clearfix*/
.group:before, 
.group:after { 
  content: "";
  display: table;
  clear: both;
}
.group {
	clear: both;
}


.logo {
	position:relative;
	padding-left: 10px;
	float:left;
}


/*
  ========================================
  Layout du menu
  ========================================
*/
.navbar {
	height: 25px;
}

.navbar ul{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;

}

.dropdown-content a {
  display: block;
}

.menubtn {
  position: relative;
  text-align: center;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  border: none;
  color:white;
  cursor: pointer;
  background-color: grey;
  border-right: 1px solid #bbb;
}

.menubtn:hover {
	background-color: black;
}

.dropdown {
  display: inline-block;
  position: relative;
}


#menu1:hover #menu-content1 {
  display: block;
}

#menu2:hover #menu-content2 {
  display: block;
}




/*
  ========================================
  Login / Inscription
  ========================================
*/


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 4px;
  font: 14px/1.4 "Arial", Helvetica, Arial, sans-serif;
  margin: 0;
}

.account_info {
  margin-bottom: 6px;
}

.account_info label{
  margin-bottom: 50px;
}

.account_info input, {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.private_info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.account_info #button {
  position: relative;
  background: white;
  border: 1px solid #c6c7cc;
}

#login{
  display: inline-block;
  border: 1px solid #c6c7cc;
}
