
body
{
  background: black;
  margin: 0px;
  
}

/*-----------------------------baniere---------------------------*/

#logo
{
  margin-left: 10px;
  margin-top: 10px;
  width: 80px;
}

.menu1,.menu2
{
  display: flex;
}


header {
  background: black;
  width: 100%;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  position: fixed;
  

}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.dropdown-content {
  display:none;
  position: absolute;
  background: #eaeaed;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 15px 5px 5px 5px;
  color: white;
  background: black;
  text-align: center;
}

.menubtn {
  background: transparent;
  color: white;
  padding-left: 20px;
  font-size: medium;
  border: white;
  cursor: pointer;
}

.About:hover #About {
  display: block;
}

.Language:hover #Language{
  display: block;
  right: 10px;
}

/*-----------------------------baniere---------------------------*/

p
{
  color:white;
}


/*-----------------------------footer---------------------------*/
.copyright
{
  color:black;
}

.footer
{
  display:  flex;
  justify-content:  space-between
}



.footer p
{
  color: black;
}

.footer_menu
{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footer_follow
{
  width: 30%;
  text-align: center;
}

.follow_icons
{
  display: flex;
  justify-content:  space-evenly;
}

#Follow
{
  height: 30px;
}

.footer_logo
{
  display: flex;
  justify-content:  space-between;
  align-items:  end;
}

#footer_logo
{
  width: 60px;
  
}

footer {
  background:white;
  width: 100%;
  bottom:0px;
  right: 0px;
}

