/*layout du site*/
body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;

}

.titre{
	margin-top: 1%;
	margin-left: 7%;
    font-size: 120%;
    margin-bottom: 1%;
}
.titre legend{
	margin-bottom: 2%;
}