
/*layout du site*/
hr{
  width: auto;
  color:#fefefe;
}

body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

fieldset {
  border: 0;
  padding: 0;
}

input {
  border-radius: 4px;
  margin: 0;

}

legend,fieldset{
  margin: 15px;
  color:black;
  font-size: 158%;
}

section{
  display: flex;
  justify-content: center;
}

.validif {
  position: relative;
  left: 37%;
}