
/*layout du site*/

body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial;
}
#modif{
  display: flex;
  justify-content: center;
}
section{
  width: 33%;
}

fieldset {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
  margin: 20px 0px 20px 0px;
  color:black;
  font-size: 150%;
}
.labelInput{
  display: flex;
  justify-content:  space-between;
}

input {
  border-radius: 4px;
  margin: 0;
  width: 50%;
  margin: 10px 0px 10px 0px;
}

legend{
  margin: 15px;
  color:black;
  font-size: 150%;
  text-align: center;
}

.validif {
  position: relative;
  left: 37%;
}