
/*layout du site*/
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  justify-content: center;
}

form
{
  border: 0;
  display: flex;
  flex-direction: column;
}

fieldset{
  border: 0px;
  text-align: center;
}
input{
  width: 100%;
  border-radius: 4px;
}
#radios
{
  display: flex;
  flex-direction: column;
  text-align:  start;
}

#radio{
  width: 10%;
}
