
/*layout du site*/
body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  justify-content: center;
}

form
{
  border: 0;
  display: flex;
  flex-direction: column;
}

fieldset{
  border: 0px;

}

span{
  color: red;
  visibility: collapse;
  font-size: 80%;
}

#radios
{
  display: flex;
  flex-direction: column;
}

.input-register{
  border-radius: 4px;
  width: 100%;
}
#radio{
  width: 10%;
}

.retour{
  margin-left: 1%;
  font-size: 110%;
}

.modifTest p{
  text-align: center;
  font-size: 18px;
}
.inputPos input{
  position: relative;
  left: 12%;
  border-radius: 5px;
}
.datePos input{
  position: relative;
  left: 20%;
  border-radius: 5px;
}
.submitButton input{
  margin-top: 10px;
  margin-left: 35%;
  border-radius: 10px;
}

.submitButton input:hover{
	color:white;
	background-color: black;
}
.saut{
	margin-bottom: 10px;
}

.correct {
  border-color: rgba(0, 256, 0, 0.75);
  background: rgba(0, 256, 0, 0.1);
}

.correct:focus {
  box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
  border-color: rgba(256, 0, 0, 0.60);
  background: rgba(256, 0, 0, 0.10);
}

.incorrect:focus {
  box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
