
/*layout du site*/
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  justify-content: center;
}

form
{
  border: 0;
  display: flex;
  flex-direction: column;
}

fieldset{
  border: 0px;

}
#radios
{
  display: flex;
  flex-direction: column;
}

.input-register{
  border-radius: 4px;
  width: 100%;
}
#radio{
  width: 1%;
}

.retour{
  margin-left: 1%;
  font-size: 110%;
}

.modifTest p{
  text-align: center;
  font-size: 18px;
}
.inputPos input{
  position: relative;
  left: 12%;
  border-radius: 5px;
}
.datePos input{
  position: relative;
  left: 20%;
  border-radius: 5px;
}
.submitButton input{
  margin-top: 10px;
  margin-left: 35%;
  border-radius: 10px;
}

.submitButton input:hover{
	color:white;
	background-color: black;
}
.saut{
	margin-bottom: 10px;
}